body{
	background-color: #4D4D4D;
	font-family: 'Malgun Gothic';
}
.shadow{
	left: 0;
	top: 65%;
	width: 100%;
	height: 140px;
	background-color: #808080;
	position: absolute;
}
.header{
    	opacity: 0.5;
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	background-color: #333333;
	z-index: 1;
}
a{
	float: right;	
	font-size: 15px;	
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: #fff;
}
a:hover{
		background-color: #4D4D4D;
		transition: 0.5s;
}
.sampul{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
}
.profil{
	position: absolute;
	top: 50%;
	left: 8%;
	width: 200px;
}
.nama{
	position: absolute;
	top: 450px;
	left: 330px;
	width: 200px;
	color: #fff;
	font-size: 36px;
}





